* {
  font-family: "Gloock", serif;
}
body {
  margin: 0;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: #f9f9f9;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1 {
  text-align: center;
  font-weight: bold;
  padding: 2rem 0;
}
.input-area {
  display: flex;
}
.input-area input {
  width: 100%;
}
.input-area button {
  background-color: skyblue;
  color: #fff;
  font-weight: bold;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}
.task-area {
  border: 1px solid lightgray;
  margin-top: 2em;
  background-color: #f9fdff;
}
.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.task-tabs div {
  padding: 1em;
}
#under-line {
  height: 4px;
  background-color: #c3e4ff;
  position: absolute;
  width: 70px;
  left: 0px;
  top: 52px;
  padding: 0px;
}
.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.task-done {
  text-decoration: line-through;
  background-color: gray;
}
button {
  border: none;
  background-color: #fff;
}
.fa-check {
  color: green;
}
.fa-trash-can {
  color: red;
}
.fa-arrow-rotate-left {
  color: gray;
}
.task-tabs div {
  cursor: pointer;
}
